.show-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.picture-container {
    grid-gap: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 400px 100px;
    img{
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
    }

.picture-bottom {
    width: 50%;
    height: 50%;
}

h1, h2, p {
    text-align: center;
}

.booking_container {
  margin-top: 24px;
}
