.container_booking {
  display: flex;
  flex-direction: column;
  margin: 100px 400px 700px 400px;
  padding: 25px;
  border: none;
  background: #f1f1f1;

}
.btn {
  background-color: blue;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  }
.btn:hover {
  opacity: 1;
}

.button_confirmation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking_links {
  display: flex;
  justify-content: space-around;

}

