.all_bookings {
  display: flex;
  flex-direction: column;
  margin: 200px;
  padding: 25px;
  margin: 5px 600px 32px 600px;
  border: none;
  background: #f1f1f1;

}

#booking_title {
  margin-top: 32px;
}

.space {
  height: 500px;
}

