
  <div class="footer">
      <p><strong>Made with 💚  by Andrea, Cleofe, Luke and Viktor<strong></p>


      <div class="footer-links">
      <a href="#"><i class="fab fa-github footer-icon"></i></a>
    <a href="#"><i class="fab fa-instagram footer-icon"></i></a>
    <a href="#"><i class="fab fa-twitter footer-icon"></i></a>

  </div>
</div>



