.navbar-lewagon {
  justify-content: space-between !important;
  background: white;
  background-color:rgba(0, 41, 70, 0.9);
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.dropdown-menu {
  z-index: 1001 !important;
}

.anchor {
  font-size: 40px;
  color: white;
}

.navbar-collapse {
  justify-content: center;

}
.nav-link {
  color: white !important;
}
