<h1> The boat </h1>
<p> Details about your choosen boat </p>

<div class="container">
            <div class="row">

                <div class="col-8">
                    <img src="https://www.mercedes-benz.com/en/design/style/motor-yacht-arrow460-contemporary-luxury-on-the-water/_jcr_content/root/paragraph_mb_contentimage_rl2/paragraph-left/paragraphimage/image/MQ6-8-image-20190114132156/01-Mercedes-Benz-Style-Lifestyle-Silver-Arrows-Marine-Motor-Yacht-ARROW460-680x379.jpeg" alt="..." class="rounded show-image" >

                </div>
                <div class="col-4">
                    <img src="https://www.mynteriormallorca.com/s/cc_images/cache_33075034.jpeg" alt="..." class="rounded show-image">
                </div>

            </div>
    <div>

    </div>

            <div class="wrapper">
                <div class="box1 size" style="background-image: url(https://www.mynteriormallorca.com/s/cc_images/cache_33075034.jpeg)">
                </div>
                <div class="box2 size" style="background-image: url(https://www.mynteriormallorca.com/s/cc_images/cache_33075034.jpeg)">
                </div>
                <div class="box3 size" style="background-image: url(https://www.mynteriormallorca.com/s/cc_images/cache_33075034.jpeg)">
                </div>
                <div class="box4 size" style="background-image: url(https://www.mynteriormallorca.com/s/cc_images/cache_33075034.jpeg)">
                </div>
            </div>
                <%# <div class="box2"> %>
                <%# <img src="https://www.mynteriormallorca.com/s/cc_images/cache_33075034.jpeg" alt="..." class="rounded show-image">
                </div>
                <div class="box3">
                <img src="https://www.mynteriormallorca.com/s/cc_images/cache_33075034.jpeg" alt="..." class="rounded show-image">
                </div>
                 <div class="box4">
                <img src="https://www.mynteriormallorca.com/s/cc_images/cache_33075034.jpeg" alt="..." class="rounded show-image">
                </div> %>
        
</div>



  