<h1> List of boats </h1>

<div class="container">
    <body>
            <div class="row">

                <div class="col-8">
                </div>

                <div class="col-4">
                </div>

            </div>
    <div>

    </div>

            <div>

            </div>
    </body>
</div>
