<h1> The boat </h1>

<div class="container">
            <div class="row">
                <div class="col-8">
                    <img src="https://robbreportedit.files.wordpress.com/2018/03/the-hinckley-sport-boat_water.jpg" alt="..." class="rounded">

                </div>

                <div class="col-4">
                </div>

            </div>
    <div>

    </div>

            <div>

            </div>
</div>
